{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="./asset/css/episodes.css">
{% endblock %}

{% block body %}
	<!-- Rond bg -->
	<div class="round"></div>

	<div class="round2"></div>
	<!-- Fin Rond bg -->


	<main>
		<section id="alaune">
			<div class="container">
				<div class="row">
					<div id="textealaune" class="col-8">
						<h1>Des épisodes de crue en photo avant / après</h1>
						<p>Crue - Paris - 2016</p>
						<p class="textalaune">Paris n’est pas étrangère aux débordements de la Seine. La grande inondation de 1910 est la première qui a été documentée alors que l’on recense les incidents depuis 1658. Dans sa série intitulée
							<a>When the Night Falls</a>, le photographe Benoît Lapray met en images la crue de juin 2016 et revisite les mêmes lieux un an plus tard quand la Seine retrouve un niveau normal.<br>Pour découvrir plus, explorez les images interactives avant-après.
						</p>
						<div class="d-flex flex-columm text-center">
							<div class="partagerIcon">
								<img src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Pictogramme à Partager" class="icon2">
								<p class="partagerEnregistrerText">PARTAGER</p>
							</div>
							<div class="enregistrerIcon">
								<img src="./asset/img/logopictoicone/Iconenregistrementblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal2" alt="Pictogramme à Enregistrer" class="icon2">
								<p class="partagerEnregistrerText">ENREGISTRER</p>
							</div>
						</div>
					</div>
					<div id="imageBtn" class="col-4">
						<img src="./asset/img/img/apercuinvalides.jpg" alt="apercu avant/après crue invalides 2016">
						<button id="showBtn">CLIQUEZ ICI</button> 
					</div>
				</div>
			</div>
		</section>

		<section id="avap" >
			<div class="container">
				<div class="row">
					<div id="showSlider">
						<div class="col-12 visualiser">
							<!-- <h2>Dans la même série</h2> -->
							<!-- texte h1 à changer lorsqu'on actionne un apercu en: -->
							<h2>
							Visualiser avant / après
							</h2>
						</div>
						<div class="container"> 
							<div class="slider slider--image2">
								<div class="slider__before">
									<img src="./asset/img/img/avap/seine_{{code}}_av.jpg" alt="Image de la Seine avant">
								</div>
								<div class="slider__separator">
								</div>
								<div class="slider__after">
									<img onDrag="return false" src="./asset/img/img/avap/seine_{{code}}_ap.jpg" alt="Image de la Seine après">
								</div>
								<input class="slider__range" type="range" min="0" max="100" value="50"/>
							</div>
						</div>
					</div>
					<section class="miniature">
						<div class="row"> 
							<div id="hide" class="col-12">
								<h2>Dans la même série</h2>
								</div>
							<div class="containerblocs">	
								<div  class="blocs">
									<a href="{{path ('app_episodes')}}?code=1&open=true#avap"><img src="./asset/img/img/apercubalancoire.jpg" alt="" href="#"></a>
									<a  href="{{path ('app_episodes')}}?code=2&open=true#avap"><img src="./asset/img/img/apercucite.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=3&open=true#avap"><img src="./asset/img/img/apercuarsenal.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=4&open=true#avap"><img src="./asset/img/img/apercupeniche.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=5&open=true#avap"><img src="./asset/img/img/apercuquaibirhakeim.jpg" alt=""></a>
									<a href="{{path ('app_episodes')}}?code=6&open=true#avap"><img src="./asset/img/img/apercusolferino.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=7&open=true#avap"><img src="./asset/img/img/apercutoboggan.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=8&open=true#avap"><img src="./asset/img/img/apercutournelle.jpg" alt="" href="#"></a>
								</div>
							</div>
						</div>
					</section>
					<section id="mapsFrance">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<img src="./asset/img/img/map.svg" alt="carte région de France">
								</div>
								<div class="col-6">
									<p>BIENTÔT DISPONIBLE
										<br>l'exploration d'autres évenements à travers la France</p>
								</div>
							</div>
						</div>
					</section>
					<!-- Modal 1 -->
<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel1">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{# Modal2 #}
<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel2">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Modal 2
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
{% block javascripts %}
<script src="./asset/js/episodes.js"></script>
{% endblock %}

