{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="./asset/css/episodes.css">
{% endblock %}

{% block body %}
	<!-- Rond bg -->
	<div class="round"></div>

	<div class="round2"></div>
	<!-- Fin Rond bg -->


	<main>
		<section id="alaune">
			<div class="container">
				<div class="row">
					<div id="textealaune" class="col-8">
						<h1>Des épisodes de crue en photo avant / après</h1>
						<p>Crue - Paris - 2016</p>
						<p class="textalaune">Paris n’est pas étrangère aux débordements de la Seine. La grande inondation de 1910 est la première qui a été documentée alors que l’on recense les incidents depuis 1658. Dans sa série intitulée
							<a>When the Night Falls</a>, le photographe Benoît Lapray met en images la crue de juin 2016 et revisite les mêmes lieux un an plus tard quand la Seine retrouve un niveau normal.<br>Pour découvrir plus, explorez les images interactives avant-après.
						</p>
						<div class="d-flex flex-columm text-center">
							<div class="partagerIcon">
								<img src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Pictogramme à Partager" class="icon" data-bs-toggle="modal" data-bs-target="#Modal1">
								<p class="partagerEnregistrerText">PARTAGER</p>
							</div>
							<div class="enregistrerIcon">
								<img src="./asset/img/logopictoicone/Iconenregistrementblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal2" alt="Pictogramme à Enregistrer" class="icon2">
								<p class="partagerEnregistrerText">ENREGISTRER</p>
							</div>
						</div>
					</div>
					<div id="imageBtn" class="col-4">
						<img src="./asset/img/img/apercuinvalides.jpg" alt="apercu avant/après crue invalides 2016">
						{# <button>CLIQUEZ ICI</button> #}

					</div>
				</div>
			</div>
		</section>
<!---------- Modale 1 PARTAGER ---------->
         <div class="modal fade bd-example-modal-lg" id="Modal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title fs-5">Partagez ce slider</h1>
                    <p>Si vous aimez ce slider, partagez-le avec vos amis..</p>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-2">
                            <a type="button" class="btn btn-primary">Facebook</a>
                        </div>
                        <div class="col-md-auto">
                            <a type="button" class="btn btn-primary">Instagram</a>
                        </div>
                        <div class="col col-lg-2">
                            <a type="button" class="btn btn-primary">Twitter</a>
                        </div>
                    <p>407 partages</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <!---------- Fin Modale 1 PARTAGER ---------->

		<!---------- Modale 2 ENREGISTRER ---------->
        <div class="modal fade modal-lg" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title fs-5">Connectez-vous pour enregistrer<br> ce graphique.</h1>
                </div>
                <div class="modal-footer">
                <a href="{{ path('app_profil') }}" type="button" class="btn btn-black">Je me connecte</a>
                </div>
            </div>
            </div>
        </div>
          <!---------- Fin Modale 2 ENREGISTRER ---------->


		<section id="avap" >
			<div class="container">
				<div class="row">
					<div class="col-12 visualiser">
						<!-- <h2>Dans la même série</h2> -->
						<!-- texte h1 à changer lorsqu'on actionne un apercu en: -->
						<h2>
						Visualiser avant / après
						</h2>
					</div>
						<div class="container"> <div class="slider slider--image2">
							<div class="slider__before">
								<img src="./asset/img/img/avap/seine_{{code}}_av.jpg" alt="Image de la Seine avant">
							</div>
							<div class="slider__separator"></div>
							<div class="slider__after">
								<img onDrag="return false" src="./asset/img/img/avap/seine_{{code}}_ap.jpg" alt="Image de la Seine après">
							</div>
							<input class="slider__range" type="range" min="0" max="100" value="50"/>
						</div>
					</div>
					<section class="miniature">
						<div class="row"> 
								<div  class="blocs">
									<a href="{{path ('app_episodes')}}?code=1#avap"><img src="./asset/img/img/apercubalancoire.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=2#avap"><img src="./asset/img/img/apercucite.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=3#avap"><img src="./asset/img/img/apercuarsenal.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=4#avap"><img src="./asset/img/img/apercupeniche.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=5#avap"><img src="./asset/img/img/apercuquaibirhakeim.jpg" alt=""></a>
									<a href="{{path ('app_episodes')}}?code=6#avap"><img src="./asset/img/img/apercusolferino.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=7#avap"><img src="./asset/img/img/apercutoboggan.jpg" alt="" href="#"></a>
									<a href="{{path ('app_episodes')}}?code=8#avap"><img src="./asset/img/img/apercutournelle.jpg" alt="" href="#"></a>
								</div>
						</div>
					</section>
					<section id="mapsFrance">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<img src="./asset/img/img/map.svg" alt="carte région de France">
								</div>
								<div class="col-6">
									<p>BIENTÔT DISPONIBLE
										<br>l'exploration d'autres évenements à travers la France</p>
								</div>
							</div>
						</div>
					</section>

</main>

{% endblock %}
{% block javascripts %}
<script src="./asset/js/episodes.js"></script>
{% endblock %}