{% extends 'base.html.twig' %}

{% block title %}Hello PingoController!{% endblock %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('asset/css/pingo.css') }}"> 
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""/>


{% endblock %}

{% block body %}
<div>
    <div id="map"></div>
</div>
  <div class="bandemap">
    <div class="bande">
    </div>
   <div class="buttonmap">
     <input type="button" class="buttonm" value="Retourner sur les projections">
   </div>
  
{% endblock %}

{% block javascripts %}
<script> 
let tabData = [];
{% for evenement in list %}
tabData.push(['{{evenement.title}}', '{{evenement.picDeCrue}}','{{evenement.periode}}','{{evenement.dep.name}}','{{evenement.coordonneeX}}','{{evenement.coordonneeY}}','{{evenement.image}}'])
{% endfor %}

</script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
<script src="/asset/js/main.js"></script>
{% endblock %}
