<!-- navBar -->
<nav id="nav-general" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="{{ path('app_home') }}">
      <img src="{{ asset('asset/img/LOGO_PICTO_ICONES/logoflovia.svg') }}"
        alt="logo Flovia 2" />
    </a>

    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex justify-content-between"
      id="navbarNav">
      <a class="navbar-brand d-none d-lg-block" href="#">
        <img src="#" alt="logo Flovia" />
      </a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_cartes') }}">Cartes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_episodes') }}">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_actualites') }}">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_about') }}">A propos</a>
        </li>
      </ul>

      <div>
        <a class="nav-link disabled">
          <img src="./LOGO:PICTO:ICONES/profilvide.svg" alt="Picto Profil" />
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Fin de navBar -->
